<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Umee test</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css">
    <link rel="stylesheet" href="/assets/css/umee_test.css">

    <!-- favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/images/umee-test/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/images/umee-test/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/images/umee-test/favicon-16x16.png">
    <link rel="manifest" href="/assets/images/umee-test/site.webmanifest">
    
    <script src="https://unpkg.com/vue@3/dist/vue.global.prod.js"></script>
</head>
<body class="bg-gray-100 flex justify-center md:my-6">
  <!-- <div id="app" class="min-w-320 max-w-3xl mx-auto p-6 bg-white rounded-md shadow-md"> -->
  <div id="app" class="w-full max-w-3xl mx-auto p-6 bg-white rounded-md shadow-md">
    <transition name="fade" mode="out-in">
      <div :key="step">
        <div v-if="step === -1">
          <h1 class="text-3xl font-semibold mb-6">PHIẾU KHẢO SÁT NGHE CHÍNH TẢ</h1>
          <h2 class="text-2xl font-semibold">Chào mừng bạn tham gia khảo sát!</h2>
          <div v-if="rowNumber !== -1" class="bg-yellow-100 text-yellow-700 border-l-4 border-yellow-500 p-4 mb-4 rounded" role="alert">
            <p class="font-bold">Notice</p>
            <p>You have previously submitted a response (Row #{{ rowNumber }}). You can still start a new submission if you want.</p>
          </div>
          <p class="mt-8 mb-4">Khảo sát này được thực hiện với mục đích nghiên cứu học thuật. Tất cả thông tin bạn cung cấp sẽ chỉ dùng cho nghiên cứu, không thu thập dữ liệu nhạy cảm, không tiết lộ danh tính và không sử dụng cho bất kỳ mục đích thương mại nào.</p>
          <p class="mb-4">Bạn có thể hoàn toàn yên tâm khi tham gia. Những chia sẻ của bạn sẽ góp phần quan trọng vào kết quả nghiên cứu.</p>
          <p class="mb-4">Rất mong nhận được sự hợp tác của bạn.
          Xin chân thành cảm ơn bạn đã dành thời gian tham gia khảo sát!</p>
          <p class="mt-8 mb-4">
            大家好！本问卷所有的数据仅用于学术研究，不会涉及到任何个人隐私，也不会用于任何商业用途。请您放心填写，衷心感谢您的支持与配合！感谢您参与本次问卷调查。
          </p>

          <div class="flex justify-center">
            <button v-if="rowNumber !== -1" @click="startNewSubmission" 
              class="bg-white-100 text-gray-700 font-semibold py-2 px-4 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition-colors duration-200"
            >Start New Submission</button>
            <button v-else @click="startNewSubmission" class="bg-white text-blue-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200"
            >Start Survey</button>
          </div>
        </div>

        <div v-else-if="step === 0">
          <h2 class="text-2xl font-semibold">Cảm ơn và chào mừng bạn đã đến với bài khảo sát!</h2>
          <p class="mb-2 text-red-500">Mục có dấu * màu đỏ là thông tin bắt buộc.</p>
          <hr class="mb-6"/>

          <radio-button-question
            label="Hiện tại, bạn có gặp vấn đề sinh lý hoặc bệnh nào liên quan có ảnh hưởng đến thính giác khi nghe chọn đáp án không?"
            :options="[{ value: 'Có' }, { value: 'Không' }]"
            v-model="formData0['Hiện tại, bạn có gặp vấn đề sinh lý hoặc bệnh nào liên quan có ảnh hưởng đến thính giác khi nghe chọn đáp án không?']"
            :validation="v0$['Hiện tại, bạn có gặp vấn đề sinh lý hoặc bệnh nào liên quan có ảnh hưởng đến thính giác khi nghe chọn đáp án không?']"
            @blur="v0$['Hiện tại, bạn có gặp vấn đề sinh lý hoặc bệnh nào liên quan có ảnh hưởng đến thính giác khi nghe chọn đáp án không?'].$touch()"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <radio-button-question
            label="Giới tính của bạn:"
            :options="[{ value: 'Nam' }, { value: 'Nữ' }, { value: 'Khác' }]"
            v-model="formData0['Giới tính của bạn:']"
            :validation="v0$['Giới tính của bạn:']"
            @blur="v0$['Giới tính của bạn:'].$touch()"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <radio-button-question
            label="Bạn là người vùng miền nào?"
            :options="[{ value: 'Bắc Trung Bộ'},
            { value: 'Nam Trung Bộ'},
            { value: 'Đông Nam Bộ'},
            { value: 'Tây Nam Bộ'},]"
            v-model="formData0['Bạn là người vùng miền nào?']"
            :validation="v0$['Bạn là người vùng miền nào?']"
            @blur="v0$['Bạn là người vùng miền nào?'].$touch()"
            :audio-state="audioStates.step1"
          ></radio-button-question>
          
          <text-input-question
            label="Mã số tỉnh thành quê quán của bạn (VD: 92 CT)"
            id="name"
            v-model="formData0['Mã số tỉnh thành quê quán của bạn (VD: 92 CT)']"
            :validation="v0$['Mã số tỉnh thành quê quán của bạn (VD: 92 CT)']"
            :audio-state="audioStates.step0"
            @blur="v0$['Mã số tỉnh thành quê quán của bạn (VD: 92 CT)'].$touch()"
          ></text-input-question>
          
          <text-input-question
            label="STT khảo sát của bạn/ 您的被试偏号:"
            id="t1q6"
            v-model="formData0['STT khảo sát của bạn/ 您的被试偏号:']"
            :validation="v0$['STT khảo sát của bạn/ 您的被试偏号:']"
            :audio-state="audioStates.step0"
            @blur="v0$['STT khảo sát của bạn/ 您的被试偏号:'].$touch()"
          ></text-input-question>


          <!-- image question -->
          <image-radio-question
            label="Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'B', imageSrc: '/assets/images/t1q0b.jpg'},
                       {value: 'A', imageSrc: '/assets/images/t1q0a.jpg'}]"
            v-model="formData0['Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v0$['Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v0$['Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/cau nghe.mp3"
            :audio-state="audioStates.step0"
          ></image-radio-question>


          <hr>
          <div class="flex justify-center mt-6">
            <button @click="attemptNextStep" class="bg-white text-blue-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200">Next</button>
          </div>
        </div>
        
        <div v-else-if="step === 1">
          <h2 class="text-2xl font-semibold">Survey#1 Questions</h2>
          <p class="mb-2 text-red-500">Mục có dấu * màu đỏ là thông tin bắt buộc.</p>
          <hr class="mb-6"/>
          
          <image-radio-question
            label="1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q1a.jpg'},
                       {value: 'B', imageSrc: '/assets/images/t1q1b.jpg'}]"
            v-model="formData['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 1/vo 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>
          
          <image-radio-question
            label="2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q2a.jpg'},
                       {value: 'B', imageSrc: '/assets/images/t1q2b.jpg'}]"
            v-model="formData['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 2/cu 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>
          
          <image-radio-question
            label="3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q3a.jpg'},
                       {value: 'B', imageSrc: '/assets/images/t1q3b.jpg'}]"
            v-model="formData['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 3/đia 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>
          
          <image-radio-question
            label="4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q4a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q4b.jpg'}]"
            v-model="formData['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 4/mu 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <radio-button-question
            label="5. Người nói vừa phát âm từ NGHĨ phải không?"
            :options="[{ value: 'Đúng/ 对'}, { value: 'Sai/ 错❌'}]"
            v-model="formData['5. Người nói vừa phát âm từ NGHĨ phải không?']"
            :validation="v$['5. Người nói vừa phát âm từ NGHĨ phải không?']"
            @blur="v$['5. Người nói vừa phát âm từ NGHĨ phải không?'].$touch()"
            audio-src="/assets/mp3/Stimuli 6/nghi c2.m4a"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <image-radio-question
            label="6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q6a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q6b.jpg'}]"
            v-model="formData['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 5/ro 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q7a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q7b.jpg'}]"
            v-model="formData['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 7/sua 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q8a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q8b.jpg'}]"
            v-model="formData['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 8/ta 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <radio-button-question
            label="9. Người nói vừa phát âm từ RỂ phải không?"
            :options="[{ value: 'Đúng/ 对'}, { value: 'Sai/ 错❌'}]"
            v-model="formData['9. Người nói vừa phát âm từ RỂ phải không?']"
            :validation="v$['9. Người nói vừa phát âm từ RỂ phải không?']"
            @blur="v$['9. Người nói vừa phát âm từ RỂ phải không?'].$touch()"
            audio-src="/assets/mp3/Stimuli 9/re 1.m4a"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <image-radio-question
            label="10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q10a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q10b.jpg'}]"
            v-model="formData['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 10/mo 1.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q1a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q1b.jpg'}]"
            v-model="formData['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 1/vo 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q12a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q12b.jpg'}]"
            v-model="formData['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 2/cu 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q3a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q3b.jpg'}]"
            v-model="formData['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 3/đia 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q4b.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q4a.jpg'}]"
            v-model="formData['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 4/mu 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          
          <radio-button-question
            label="15. Người nói vừa phát âm từ NGHỈ phải không?"
            :options="[{ value: 'Đúng/ 对'}, { value: 'Sai/ 错❌'}]"
            v-model="formData['15. Người nói vừa phát âm từ NGHỈ phải không?']"
            :validation="v$['15. Người nói vừa phát âm từ NGHỈ phải không?']"
            @blur="v$['15. Người nói vừa phát âm từ NGHỈ phải không?'].$touch()"
            audio-src="/assets/mp3/Stimuli 6/nghi c1.m4a"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <image-radio-question
            label="16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q6a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q6b.jpg'}]"
            v-model="formData['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 5/go 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q7a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q7b.jpg'}]"
            v-model="formData['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 7/sua 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <image-radio-question
            label="18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q8a.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q8b.jpg'}]"
            v-model="formData['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 8/ta 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <radio-button-question
            label="19. Người nói vừa phát âm từ RỄ phải không?"
            :options="[{ value: 'Đúng/ 对'}, { value: 'Sai/ 错❌'}]"
            v-model="formData['19. Người nói vừa phát âm từ RỄ phải không?']"
            :validation="v$['19. Người nói vừa phát âm từ RỄ phải không?']"
            @blur="v$['19. Người nói vừa phát âm từ RỄ phải không?'].$touch()"
            audio-src="/assets/mp3/Stimuli 9/re 2.m4a"
            :audio-state="audioStates.step1"
          ></radio-button-question>

          <image-radio-question
            label="20. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t1q10b.jpg'},
                      {value: 'B', imageSrc: '/assets/images/t1q10a.jpg'}]"
            v-model="formData['20. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v$['20. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v$['20. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 10/mo 2.m4a"
            :audio-state="audioStates.step1"
          ></image-radio-question>

          <!-- <rating-question
            v-model="formData['Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!']"
            label="Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!"
            :validation="v$['Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!']"
            :min="1"
            :max="10"
            icon="like"
            size="32"
          ></rating-question>
          
          <rating-question
            v-model="formData['Đánh giá mức độ khó của bài khảo sát này:']"
            label="Đánh giá mức độ khó của bài khảo sát này:"
            :validation="v$['Đánh giá mức độ khó của bài khảo sát này:']"
            :min="1"
            :max="5"
            icon="star"
            size="32"
          ></rating-question>

          <rating-question
            v-model="formData['Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?']"
            label="Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?"
            :validation="v$['Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?']"
            :min="1"
            :max="10"
            icon="heart"
            size="32"
          ></rating-question> -->

          <hr>
          <div class="flex justify-center mt-6">
            <button @click="attemptNextStep" class="bg-white text-blue-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200">Next</button>
          </div>
        </div>
        
        <div v-else-if="step === 2">
          <h2 class="text-2xl font-semibold">Survey#2 Questions</h2>
          <p class="mb-2 text-red-500">Mục có dấu * màu đỏ là thông tin bắt buộc.</p>
          <hr class="mb-6"/>

          <radio-button-question
            label="1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'đổ'}, { value: 'đỗ'}]"
            v-model="formData2['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/đo1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'rẻ'}, { value: 'rẽ'}]"
            v-model="formData2['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/re 2.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'nội'}, { value: 'nổi'}]"
            v-model="formData2['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/noi b2.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="5. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'sẻ'}, { value: 'sẽ'}]"
            v-model="formData2['5. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['5. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['5. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/se1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'dỉa'}, { value: 'dĩa'}]"
            v-model="formData2['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/dia 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'khoẻ'}, { value: 'phẻ'}]"
            v-model="formData2['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/khoe 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'nổi'}, { value: 'nội'}]"
            v-model="formData2['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['8. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/noi c1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'vả'}, { value: 'vã'}]"
            v-model="formData2['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/va 2.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'chửa'}, { value: 'chữa'}]"
            v-model="formData2['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['10. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/chua 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'dỗ'}, { value: 'dổ'}]"
            v-model="formData2['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/do c2.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'đổ'}, { value: 'đỗ'}]"
            v-model="formData2['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['12. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/đo 2.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'chổi'}, { value: 'chồi'}]"
            v-model="formData2['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/choi 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'rẻ'}, { value: 'rẽ'}]"
            v-model="formData2['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/re 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="15. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'vả'}, { value: 'vã'}]"
            v-model="formData2['15. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['15. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['15. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/va 1.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'bỏ lỡ'}, { value: 'bõ lỡ'}]"
            v-model="formData2['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test riêng/bo lo.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <radio-button-question
            label="17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'sở hữu'}, { value: 'sỡ hữu'}]"
            v-model="formData2['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test riêng/so hưu.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>
          
          <text-input-question
            label="18. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t2q18"
            v-model="formData2['18. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v2$['18. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v2$['18. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Test riêng/trien lam.m4a"
            :audio-state="audioStates.step2"
          ></text-input-question>
          
          <radio-button-question
            label="19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'lẽo đẽo'}, { value: 'lẻo đẽo'}]"
            v-model="formData2['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v2$['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v2$['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test riêng/leo đeo.m4a"
            :audio-state="audioStates.step2"
          ></radio-button-question>

          <text-input-question
            label="20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t2q20"
            v-model="formData2['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v2$['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v2$['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Test riêng/cho nga.m4a"
            :audio-state="audioStates.step2"
          ></text-input-question>
          
          <hr>
          <div class="flex justify-center mt-6">
            <button @click="attemptNextStep" class="bg-white text-blue-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200">Next</button>
          </div>
        </div>

        
        <div v-else-if="step === 3">
          <h2 class="text-2xl font-semibold">Survey#3 Questions</h2>
          <p class="mb-2 text-red-500">Mục có dấu * màu đỏ là thông tin bắt buộc.</p>
          <hr class="mb-6"/>

          <radio-button-question
            label="1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'mủ'}, { value: 'mũ'}]"
            v-model="formData3['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['1. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 4/mu 1.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'vỏ'}, { value: 'võ'}]"
            v-model="formData3['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['2. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 1/vo 2.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'tả'}, { value: 'tã'}]"
            v-model="formData3['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['3. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 8/ta 2.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'rổ'}, { value: 'gỗ'}]"
            v-model="formData3['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['4. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Stimuli 5/ro 1.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          
          <text-input-question
            label="5. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t3q5"
            v-model="formData3['5. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v3$['5. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v3$['5. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Stimuli 5/go 2.m4a"
            :audio-state="audioStates.step3"
          ></text-input-question>

          <image-radio-question
            label="6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{value: 'A', imageSrc: '/assets/images/t3q6a.jpg'},
                       {value: 'B', imageSrc: '/assets/images/t3q6b.jpg'}]"
            v-model="formData3['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['6. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/dia 2.m4a"
            :audio-state="audioStates.step3"
          ></image-radio-question>

          <radio-button-question
            label="7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'chửa'}, { value: 'chữa'}]"
            v-model="formData3['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['7. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/chua 1.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="8. Người nói vừa phát âm từ CÃI VÃ phải không?"
            :options="[{ value: 'Sai/ 错❌'}, { value: 'Đúng/ 对'}]"
            v-model="formData3['8. Người nói vừa phát âm từ CÃI VÃ phải không?']"
            :validation="v3$['8. Người nói vừa phát âm từ CÃI VÃ phải không?']"
            @blur="v3$['8. Người nói vừa phát âm từ CÃI VÃ phải không?'].$touch()"
            audio-src="/assets/mp3/Test 3/cai va.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'đỗ lỗi'},
                        {value: 'đỗ lổi'},
                        {value: 'đổ lổi'},
                        {value: 'đổ lỗi'}]"
            v-model="formData3['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['9. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/do loi.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>
          
          <text-input-question
            label="10. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t3q10"
            v-model="formData3['10. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v3$['10. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v3$['10. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Test 3/vo lo.m4a"
            :audio-state="audioStates.step3"
          ></text-input-question>
          

          <radio-button-question
            label="11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'dỗi'}, { value: 'giỏi'}]"
            v-model="formData3['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['11. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/doi.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="12. Người nói vừa phát âm từ GIỎI phải không?"
            :options="[{ value: 'Đúng/ 对'}, { value: 'Sai/ 错❌'}]"
            v-model="formData3['12. Người nói vừa phát âm từ GIỎI phải không?']"
            :validation="v3$['12. Người nói vừa phát âm từ GIỎI phải không?']"
            @blur="v3$['12. Người nói vừa phát âm từ GIỎI phải không?'].$touch()"
            audio-src="/assets/mp3/Test 3/d_gioi.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[{ value: 'mách lẻo'}, { value: 'mách lẽo'}]"
            v-model="formData3['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['13. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/mach leo.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'chổ rẽ'},
                        {value: 'chỗ rẽ'},
                        {value: 'chổ rẻ'},
                        {value: 'chỗ rẻ'}]"
            v-model="formData3['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['14. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/cho re.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <text-input-question
            label="15. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t3q5"
            v-model="formData3['15. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v3$['15. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v3$['15. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Test 3/co lo.m4a"
            :audio-state="audioStates.step3"
          ></text-input-question>

          <radio-button-question
            label="16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'đổ sữa'},
                        {value: 'đỗ sữa'},
                        {value: 'đổ sửa'},
                        {value: 'đỗ sửa'}]"
            v-model="formData3['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['16. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/do sua.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'kẽ hỡ'},
                        {value: 'kẻ hỡ'},
                        {value: 'kẽ hở'},
                        {value: 'kẻ hở'}]"
            v-model="formData3['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['17. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/ke ho.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'lỗ hỏng'},
                        {value: 'lổ hõng'},
                        {value: 'lỗ hõng'},
                        {value: 'lổ hỏng'}]"
            v-model="formData3['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['18. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/lo hong.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <radio-button-question
            label="19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:"
            :options="[ {value: 'nửa mỡ'},
                        {value: 'nữa mỡ'},
                        {value: 'nửa mở'},
                        {value: 'nữa mở'}]"
            v-model="formData3['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            :validation="v3$['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:']"
            @blur="v3$['19. Chọn đáp án phù hợp nhất dựa trên file nghe sau đây:'].$touch()"
            audio-src="/assets/mp3/Test 3/nua mo.m4a"
            :audio-state="audioStates.step3"
          ></radio-button-question>

          <text-input-question
            label="20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây"
            id="t3q20"
            v-model="formData3['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            :validation="v3$['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây']"
            @blur="v3$['20. Điền từ phù hợp nhất vào đáp án dựa trên file nghe sau đây'].$touch()"
            audio-src="/assets/mp3/Test 3/hang bao hiem.m4a"
            :audio-state="audioStates.step3"
          ></text-input-question>          

          <rating-question
            v-model="formData3['Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!']"
            label="Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!"
            :validation="v3$['Vui lòng đánh giá giọng phát âm của người nói dựa trên cảm nhận khách quan của bạn!']"
            :min="1"
            :max="10"
            icon="like"
            size="32"
          ></rating-question>
          
          <rating-question
            v-model="formData3['Đánh giá mức độ khó của bài khảo sát này:']"
            label="Đánh giá mức độ khó của bài khảo sát này:"
            :validation="v3$['Đánh giá mức độ khó của bài khảo sát này:']"
            :min="1"
            :max="5"
            icon="star"
            size="32"
          ></rating-question>

          <rating-question
            v-model="formData3['Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?']"
            label="Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?"
            :validation="v3$['Dựa trên thanh điểm 10, sau khi hoàn thành khảo sát bạn tự tin mình làm đúng được khoảng bao nhiêu phần trăm?']"
            :min="1"
            :max="10"
            icon="heart"
            size="32"
          ></rating-question>
          
          
          <hr>
          <div class="flex justify-center mt-6">
            <button @click="attemptNextStep" class="bg-white text-blue-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200">Next</button>
          </div>
        </div>

        <div v-else-if="step === 4">
          <h2 class="text-2xl font-semibold mb-4">Submit survey answers</h2>
          
          
          <div class="flex justify-center mt-4">
            <!-- <button @click="prevStep" class="bg-white text-gray-700 font-semibold py-4 px-6 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition-colors duration-200 mr-2">Previous</button> -->
            <button @click="submitForm" class="bg-white text-green-700 font-semibold py-4 px-6 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200">Submit</button>
          </div>
        </div>

        <div v-else-if="step === 5">
          <h2 class="text-2xl font-semibold mb-4">Thank You!</h2>
          <p>Your response has been collected. Thank you for participating in the survey!</p>
          <p>Submitted row #{{rowNumber}}</p>
        </div>
      </div>
    </transition>
    <!-- Confirmation Modal -->
    <transition name="modal-fade">
      <div v-if="showConfirmation" class="modal-backdrop fixed inset-0 z-50 flex items-center justify-center bg-gray-500 bg-opacity-75">
        <div class="modal-box bg-white rounded-lg shadow-xl transform transition-transform duration-300 max-w-lg w-full mx-4">
          <div class="p-4">
            <p class="modal-text text-gray-700">Are you sure you want to proceed to the next step?</p>
          </div>
          <hr>
          <div class="px-6 pt-6 pb-4 rounded-b-lg flex justify-center items-center modal-buttons">
            <button @click="cancelNextStep" class="bg-white text-gray-700 font-semibold py-2 px-4 rounded-md hover:bg-gray-200 focus:outline-none focus:ring-2 focus:ring-gray-300 focus:ring-opacity-50 transition-colors duration-200 cancel-button mr-2">Cancel</button>
            <button @click="doNextStep" class="bg-white text-blue-700 font-semibold py-2 px-4 rounded-md hover:bg-blue-100 focus:outline-none focus:ring-2 focus:ring-blue-300 focus:ring-opacity-50 transition-colors duration-200 confirm-button">Confirm</button>
          </div>
        </div>
      </div>
    </transition>
    <!-- Waiting Modal -->
    <transition name="modal-fade">
      <div v-if="isSubmitting" class="modal-backdrop">
        <div class="modal-box">
          <div class="spinner"></div>
          <p class="modal-text">Submitting your answers…</p>
        </div>
      </div>
    </transition>

  </div>





<script src="/assets/js/umee_test2.js"></script>    
<script src="https://cdn.jsdelivr.net/npm/vue-demi"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/core"></script>
<script src="https://cdn.jsdelivr.net/npm/@vuelidate/validators"></script>
<script src="https://cdn.jsdelivr.net/npm/lodash@4.17.21/lodash.min.js"></script>
<!-- <script src="/assets/js/listening_question.js"></script> -->
<!-- <script src="/assets/js/image_question.js"></script> -->
<script src="/assets/js/image_radio_question.js"></script>
<script src="/assets/js/text_input_question.js"></script>
<script src="/assets/js/radio_button_question.js"></script>
<!-- <script src="/assets/js/rating_question.js"></script> -->
</body>
</html>