
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" href="../styles/bootstrap.min.css">
    <link rel="stylesheet" href="../styles/custom.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="../images/favicon.png"/>
    <title>{{ page.title }}</title>
  </head>
<body>
    <div class="container-fluid">
	    <div class="row">
	    <nav class="col-md-3 bg-dark text-white">
		    <div class="container">
			    <p>Categories</p>
			    <ul>
				    <li><a href="/">Home</a></li>
				    <li><a href="/blog/">Blog</a></li>
				    <li><a href="/articles/">Articles</a></li>
				    <li><a href="/about/">About</a></li>
			    </ul>
		    </div>
		    <div class="container">
			    <p>Hot link</p>
			    <ul>
				    <li><a href="https://facebook.com/nhattungnguyen.2kgl/">My Facebook</a></li>
				    <li><a href="https://github.com/bloomingseed/">My GitHub</a></li>
			    </ul>
		    </div>
	    </nav>
	    <div class="bg-white col-md-9">
		    {{ content }}
	    </div>
	    </div>
      </div>
      <footer class="container-fluid bg-dark py-3"> 
            <p class="row text-white text-center ">Sketched by bloomingseed. Nov,12<sup>nd</sup></p>
      </footer>
</body>
</html>
