<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <meta name="google-site-verification" content="yQluwvwYR7TSYDyELFGyfZJ3haxQdb4u5nDa9vb_LNg" />
    {% include head-custom.html %}
    {% seo %}
  </head>
  <body>
    <!-- Site header -->
    <header>
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.description | default: site.github.project_tagline }}</h2>
        <section id="downloads"></section>
      </div>
    </header>
    <!-- Main content -->
    <div class="container">
      <section id="main_content">
        {% include anchor_headings.html html=content anchorBody="#" %}
      </section>
    </div>
  </body>
</html>
